<h2 {% if site.style=='dark' %}class="text-white" {% endif %}>My Education</h2>
<div class="clearfix d-flex flex-justify-center flex-wrap gutter-md-spacious m-4">
  <div
    class="m-2 github-component float-left d-flex flex-column flex-justify-between height-full text-left {% if site.style == 'dark' %}box-shadow{% else %}border border-blue{% endif %} bg-white rounded-1 p-3">
    <div class="d-flex mb-1" style="align-items: center;">
      <img src="assets/ubc_logo.svg" alt="UBC Logo">
      <h1 class="f4 lh-condensed mbß-1">
        University of British Columbia
      </h1>
    </div>
    <div class="text-gray mb-2 ws-normal">Bachelor of Science - Computer Science</div>
    <div class="text-gray mb-2 ws-normal">September 2016 - May 2021</div>
  </div>
  <div>
    <p class="f4 my-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Relevant Courses</p>
    <div class="row">
      <div class="d-inline-flex f5 border border-purple py-1 px-2 m-2">CPSC 436I: Topics in Computer Science - Industry
        Skills</div>
      <div class="d-inline-flex f5 border border-purple py-1 px-2 m-2">CPSC 410: Advanced Software Engineering</div>
      <div class="d-inline-flex f5 border border-purple py-1 px-2 m-2">CPSC 417: Computer Networking</div>
      <div class="d-inline-flex f5 border border-purple py-1 px-2 m-2">CPSC 404: Advanced Relational Databases</div>
      <div class="d-inline-flex f5 border border-purple py-1 px-2 m-2">CPSC 340: Machine Learning and Data Mining</div>
    </div>
  </div>