<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>My Education</h2>
<div class="clearfix d-flex flex-justify-between flex-wrap gutter-md-spacious m-4">
  <div class="m-2 github-component float-left d-flex flex-column flex-justify-between height-full text-left {% if site.style == 'dark' %}box-shadow{% else %}border border-gray-light{% endif %} bg-white rounded-1 p-3">
    <div>
          <div class="d-flex flex-justify-between flex-items-start mb-1">
            <h1 class="f4 lh-condensed mb-1">
                University of British Columbia
            </h1>
          </div>
          <div class="text-gray mb-2 ws-normal">Bachelor of Science - Computer Science</div>     
          <div class="text-gray mb-2 ws-normal">September 2016 - May 2021</div>     
        </div>
      </div>

<div class="m-2 github-component float-left d-flex flex-column flex-justify-between height-full text-left {% if site.style == 'dark' %}box-shadow{% else %}border border-gray-light{% endif %} bg-white rounded-1 p-3">
        <div>
          <div class="d-flex flex-justify-between flex-items-start mb-1">
            <h1 class="f4 lh-condensed mb-1">
                Burnaby Central Secondary School
            </h1>
          </div>
          <div class="text-gray mb-2 ws-normal">September 2011 - June 2016</div>
        </div>
      </div>
</div>
