<h2 {% if site.style=='dark' %}class="text-white" {% endif %}>Extracurricular Activities</h2>
<div class="clearfix d-flex flex-justify-center flex-wrap gutter-md-spacious m-4">
    <div
        class="m-2 github-component float-left d-flex flex-column flex-justify-between height-full text-left {% if site.style == 'dark' %}box-shadow{% else %}border border-blue{% endif %} bg-white rounded-1 p-3">
        <div class="d-flex mb-1">
            <h1 class="f4 lh-condensed mb-1">
                UBC CS Tri-Mentoring Program
            </h1>
        </div>
        <div class="text-gray mb-2 ws-normal">Formed group with industry mentor and junior student to <br> explore
            academic planning, networking, and career options</div>
        <div class="text-gray mb-2 ws-normal">September 2019 - April 2020</div>
    </div>
    <div
        class="m-2 github-component float-left d-flex flex-column flex-justify-between height-full text-left {% if site.style == 'dark' %}box-shadow{% else %}border border-blue{% endif %} bg-white rounded-1 p-3">
        <div class="d-flex mb-1">
            <h1 class="f4 lh-condensed mb-1">
                Microsoft Certified: Azure Fundamentals
            </h1>
        </div>
        <div class="text-gray mb-2 ws-normal text-center">Certified on June 9<sup>th</sup> 2021</div>
        <a href="https://www.credly.com/badges/2a37f2e5-b69f-4af9-bbfc-5c5ca07658bb" class="flex-self-center">
            <img src="assets/azure-fundamentals-600x600.png" alt="Microsoft Certified: Azure Fundamentals Badge"
                style="max-width: 100px">
            <a href="https://www.credly.com/badges/2a37f2e5-b69f-4af9-bbfc-5c5ca07658bb" class="flex-self-center">
                <button class="btn btn-blue" type="button">View Credly Badge</button>
            </a>
    </div>
    <div
        class="m-2 github-component float-left d-flex flex-column flex-justify-between height-full text-left {% if site.style == 'dark' %}box-shadow{% else %}border border-blue{% endif %} bg-white rounded-1 p-3">
        <div class="d-flex mb-1">
            <h1 class="f4 lh-condensed mb-1">
                Microsoft Certified: Azure AI Fundamentals
            </h1>
        </div>
        <div class="text-gray mb-2 ws-normal text-center">Certified on July 29<sup>th</sup> 2021</div>
        <a href="https://www.credly.com/badges/1cbf7e55-f2d3-4b16-ab17-2ba9eb57bd1b" class="flex-self-center">
            <img src="assets/azure-ai-fundamentals-600x600.png" alt="Microsoft Certified: Azure AI Fundamentals Badge"
                style="max-width: 100px">
            <a href="https://www.credly.com/badges/1cbf7e55-f2d3-4b16-ab17-2ba9eb57bd1b" class="flex-self-center">
                <button class="btn btn-blue" type="button">View Credly Badge</button>
            </a>
    </div>
</div>