<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>My Development Skills</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">These are my top development skills</p>
<div class="row">
    <!-- TODO: add more skills -->
        <div class="d-inline-flex f5 border border-blue py-1 px-2" >Java</div>
        <div class="d-inline-flex f5 border border-blue py-1 px-2" >JavaScript</div>
        <div class="d-inline-flex f5 border border-blue py-1 px-2" >HTML</div>
        <div class="d-inline-flex f5 border border-blue py-1 px-2" >CSS</div>
        <div class="d-inline-flex f5 border border-blue py-1 px-2" >React.js</div>
        <div class="d-inline-flex f5 border border-blue py-1 px-2" >Node.js</div>
        <div class="d-inline-flex f5 border border-blue py-1 px-2" >Python</div>
</div>