<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>My Work Experience</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Here is my past work experiences</p>
<div class="clearfix d-flex flex-justify-between flex-wrap gutter-md-spacious mb-4">
  
  <div class="m-2 github-component float-left d-flex flex-column flex-justify-between height-full text-left {% if site.style == 'dark' %}box-shadow{% else %}border border-gray-light{% endif %} bg-white rounded-1 p-3">
    <div>
          <div class="d-flex flex-justify-between flex-items-start mb-1">
            <h1 class="f4 lh-condensed mb-1">
                Public Services and Procurement Canada - Digital Services Branch
            </h1>
          </div>
          <div class="text-gray mb-2 ws-normal">Web Developer</div>     
          <div class="text-gray mb-2 ws-normal">May 2020 - August 2020</div>     
        </div>
      </div>

<div class="m-2 github-component float-left d-flex flex-column flex-justify-between height-full text-left {% if site.style == 'dark' %}box-shadow{% else %}border border-gray-light{% endif %} bg-white rounded-1 p-3">
        <div>
          <div class="d-flex flex-justify-between flex-items-start mb-1">
            <h1 class="f4 lh-condensed mb-1">
                TTT Studios
            </h1>
          </div>
          <div class="text-gray mb-2 ws-normal">Software Developer</div>     
          <div class="text-gray mb-2 ws-normal">September 2018 - August 2019</div>
        </div>
      </div>
</div>
